<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team2.pjt12.matchumoney.domain.cardsearch.mapper.CardSearchMapper">

    <select id="selectCardsByFilter"
            resultType="team2.pjt12.matchumoney.domain.cardsearch.dto.CardSearchResponseDTO">
        SELECT DISTINCT
        cp.card_product_id AS id,
        cp.name,
        cp.type,
        cp.issuer,
        cp.annual_fee AS annualFee,
        cp.pre_month_money AS preMonthMoney,
        cp.card_image_url AS imageUrl,

        /* 즐겨찾기 여부 */
        EXISTS (
        SELECT 1
        FROM user_favorites uf
        WHERE uf.card_product_id = cp.card_product_id
        AND uf.user_id = #{userId}
        ) AS isStarred,

        /* 좋아요 여부: EXISTS로 통일, 실제 컬럼명에 맞춰 card_id2 사용 */
        EXISTS (
        SELECT 1
        FROM user_likes ul
        WHERE ul.card_id2 = cp.card_product_id
        AND ul.user_id = #{userId}
        ) AS isLiked,

        /* 좋아요 수: 동일 컬럼 사용 */
        (
        SELECT COUNT(*)
        FROM user_likes
        WHERE card_id2 = cp.card_product_id
        ) AS likeCount

        FROM card_product cp

        <!-- 혜택 필터가 있을 때만 조인 -->
        <if test="request.selectedBenefits != null and request.selectedBenefits.size() > 0">
            LEFT JOIN card_search_benefit csb
            ON cp.card_product_id = csb.card_id2
        </if>

        <where>
            cp.is_available = 1

            <choose>
                <when test="request.creditCard == true and request.debitCard == true">
                    AND (cp.type = '신용' OR cp.type = '체크')
                </when>
                <when test="request.creditCard == true and request.debitCard == false">
                    AND cp.type = '신용'
                </when>
                <when test="request.creditCard == false and request.debitCard == true">
                    AND cp.type = '체크'
                </when>
                <otherwise>
                    AND 1=1
                </otherwise>
            </choose>

            <if test="request.selectedBenefits != null and request.selectedBenefits.size() > 0">
                AND (
                <foreach item="benefit" collection="request.selectedBenefits" separator=" OR ">
                    (csb.benefit_text IS NOT NULL
                    AND SUBSTRING_INDEX(csb.benefit_text, ' ', 1) = #{benefit})
                </foreach>
                )
            </if>
        </where>
    </select>


</mapper>