<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team2.pjt12.matchumoney.domain.deposit.mapper.DepositProductMapper">
    <resultMap id="DepositProductResponseMap" type="team2.pjt12.matchumoney.domain.deposit.dto.res.DepositProductResponseDTO">
        <result property="bankName" column="bank_name"/>
        <result property="productName" column="product_name"/>
        <result property="etcNote" column="etc_note"/>
        <result property="maxSaveTrm" column="max_save_trm"/>
        <result property="maxIntrRate" column="max_intr_rate"/>
        <result property="maxIntrRate2" column="max_intr_rate2"/>
    </resultMap>

    <!--  개월 수가 여러인 경우 12개월이 나오게  -->
    <sql id="optionBySaveTerm12OrMax">
        (
            SELECT
                fin_prdt_cd,
                max_save_trm,
                max_intr_rate,
                max_intr_rate2
            FROM (
                     SELECT
                         fin_prdt_cd,
                         save_trm AS max_save_trm,
                         intr_rate AS max_intr_rate,
                         intr_rate2 AS max_intr_rate2,
                         ROW_NUMBER() OVER (
                             PARTITION BY fin_prdt_cd
                             ORDER BY
                                 CASE WHEN save_trm = 12 THEN 1 ELSE 2 END,
                                 save_trm DESC
                             ) AS rn
                     FROM deposit_option
                 ) tmp
            WHERE rn = 1
        )
    </sql>


    <!--  모든 예금 상품 출력  -->
    <select id="findAllDepositProducts" resultMap="DepositProductResponseMap">
        SELECT
        dp.kor_co_nm AS bank_name,
        dp.fin_prdt_nm AS product_name,
        dp.etc_note AS etc_note,
        opt.max_save_trm,
        opt.max_intr_rate,
        opt.max_intr_rate2
        FROM deposit_product dp
        LEFT JOIN <include refid="optionBySaveTerm12OrMax"/> opt
        ON dp.fin_prdt_cd = opt.fin_prdt_cd
        ORDER BY dp.kor_co_nm, dp.fin_prdt_nm
    </select>


    <!-- 은행별 예금 상품 조회 -->
    <select id="findDepositProductsByBankName" parameterType="string" resultMap="DepositProductResponseMap">
        SELECT
        dp.kor_co_nm as bank_name,
        dp.fin_prdt_nm as product_name,
        dp.etc_note as etc_note,
        opt.max_save_trm,
        opt.max_intr_rate,
        opt.max_intr_rate2
        FROM deposit_product dp
        LEFT JOIN <include refid="optionBySaveTerm12OrMax"/> opt
        ON dp.fin_prdt_cd = opt.fin_prdt_cd AND opt.rn = 1
        WHERE dp.kor_co_nm = #{bankName}
        ORDER BY dp.fin_prdt_nm
    </select>
</mapper>