<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team2.pjt12.matchumoney.domain.depositsearch.mapper.DepositSearchMapper">

    <select id="findAllDepositProducts"
            resultType="team2.pjt12.matchumoney.domain.depositsearch.dto.DepositSearchResponseDTO">
        SELECT
        sp.deposit_product_id AS depositProductId,
        sp.kor_co_nm AS korCoNm,
        sp.fin_prdt_cd AS finPrdtCd,
        sp.fin_prdt_nm AS finPrdtNm,
        sp.max_limit AS maxLimit,
        sp.spcl_cnd AS benefit,
        CASE
        WHEN uf.favorite_id IS NOT NULL THEN TRUE
        ELSE FALSE
        END AS isStarred
        FROM deposit_product sp
        LEFT JOIN user_favorites uf ON sp.deposit_product_id = uf.deposit_product_id
        WHERE 1 = 1
        <if test="korCoNm != null and korCoNm != ''">
            AND sp.kor_co_nm LIKE CONCAT('%', #{korCoNm}, '%')
        </if>
        <if test="maxLimit != null">
            AND CAST(REPLACE(sp.max_limit, ',', '') AS UNSIGNED) &lt;= #{maxLimit}
        </if>
    </select>

    <select id="findOptionsByProductId"
            resultType="team2.pjt12.matchumoney.domain.depositsearch.dto.DepositOptionDTO">
        SELECT
            save_trm AS saveTrm,
            intr_rate AS intrRate,
            intr_rate2 AS intrRate2
        FROM deposit_option
        WHERE fin_prdt_cd = #{finPrdtCd}
        ORDER BY CAST(save_trm AS UNSIGNED)
    </select>


</mapper>
