<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team2.pjt12.matchumoney.domain.personasaving.mapper.PersonaSavingMapper">

    <!-- persona_id로 persona_name 조회 -->
    <select id="selectPersonaNameById" resultType="string">
        SELECT name_ko
        FROM persona_types
        WHERE persona_id = #{personaId}
    </select>

    <!-- persona_id로 예금 상품 조회 (중복 제거 및 집계) -->
    <select id="selectSavingsByPersonaId"
            resultType="team2.pjt12.matchumoney.domain.personasaving.dto.PersonaSavingDTO">
        SELECT
            dp.saving_product_id AS savingId,
            dp.kor_co_nm          AS bankName,
            dp.fin_prdt_nm        AS savingName,
            MAX(do.intr_rate)     AS basicRate,
            MAX(do.intr_rate2)    AS maxRate,
            fc.company_image      AS companyImage,
            dp.max_limit          AS maxLimit
        FROM saving_product dp
                 JOIN saving_option do ON dp.fin_prdt_cd = do.fin_prdt_cd
                 JOIN financial_companies fc ON dp.fin_id = fc.fin_id
        WHERE dp.persona_id = #{personaId}
        GROUP BY dp.saving_product_id
    </select>

    <select id="findPersonaIdByUserId" resultType="long">
        SELECT persona_id
        FROM users
        WHERE user_id = #{userId}
    </select>
</mapper>
