<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team2.pjt12.matchumoney.domain.personacard.mapper.PersonaCardMapper">

    <!-- persona_id로 persona_name 조회 -->
    <select id="selectPersonaNameById" resultType="string">
        SELECT name_ko
        FROM persona_types
        WHERE persona_id = #{personaId}
    </select>

    <!-- persona_id로 카드 상품 조회 -->
    <select id="selectCardsByPersonaId"
            resultType="team2.pjt12.matchumoney.domain.personacard.dto.PersonaCardDTO">
        SELECT
            card_product_id AS cardId,
            name AS cardName,
            card_image_url AS cardImageUrl,
            type AS cardType,
            issuer,
            annual_fee AS annualFee,
            pre_month_money AS preMonthMoney
        FROM card_product
        WHERE persona_id = #{personaId} AND is_available = true
    </select>

</mapper>
