<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team2.pjt12.matchumoney.domain.personadeposit.mapper.PersonadepositMapper">

    <!-- persona_id로 persona_name 조회 -->
    <select id="selectPersonaNameById" resultType="string">
        SELECT name_ko
        FROM persona_types
        WHERE persona_id = #{personaId}
    </select>

    <!-- persona_id로 예금 상품 조회 -->
    <select id="selectDepositsByPersonaId"
            resultType="team2.pjt12.matchumoney.domain.personadeposit.dto.PersonaDepositDTO">
        SELECT dp.deposit_product_id AS depositId,
               dp.kor_co_nm          AS bankName,
               dp.fin_prdt_nm        AS productName,
               do.intr_rate          AS basicRate,
               do.intr_rate2         AS maxRate,
               fc.company_image      AS companyImage
        FROM deposit_product dp
                 JOIN deposit_option do ON dp.deposit_product_id = do.deposit_product_id
                 JOIN financial_companies fc ON dp.fin_id = fc.fin_id
        WHERE dp.persona_id = #{personaId}
    </select>
</mapper>
