<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team2.pjt12.matchumoney.domain.saving.mapper.SavingAccountMapper">

    <delete id="deleteByUserIdAndFinId">
        DELETE FROM mydata_saving_accounts
        WHERE user_id = #{userId}
          AND fin_id = #{finId}
    </delete>

    <select id="getSavingAccountList" parameterType="long" resultType="team2.pjt12.matchumoney.domain.saving.dto.MySavingProductResponseDTO">
        SELECT res_account_name as title, res_account_start_date as start_date, res_account_end_date as end_date, res_rate AS rate
        FROM mydata_saving_accounts
        WHERE user_id = #{userId}
    </select>

    <insert id="insertSavingAccount" parameterType="team2.pjt12.matchumoney.domain.saving.domain.SavingAccountVO">
        INSERT INTO mydata_saving_accounts (
            res_account,
            user_id,
            fin_id,
            res_account_status,
            res_account_display,
            res_account_name,
            res_account_nickname,
            res_account_holder,
            res_final_round_no,
            res_account_start_date,
            res_account_end_date,
            res_account_balance,
            res_monthly_payment,
            res_valid_period,
            res_type,
            res_management_branch,
            res_rate,
            res_contract_amount,
            res_payment_methods,
            res_last_tran_date,
            comm_start_date,
            comm_end_date,
            created_time,
            last_modified_time
        ) VALUES (
                     #{resAccount},
                     #{userId},
                     #{finId},
                     #{resAccountStatus},
                     #{resAccountDisplay},
                     #{resAccountName},
                     #{resAccountNickName},
                     #{resAccountHolder},
                     #{resFinalRoundNo},
                     #{resAccountStartDate},
                     #{resAccountEndDate},
                     #{resAccountBalance},
                     #{resMonthlyPayment},
                     #{resValidPeriod},
                     #{resType},
                     #{resManagementBranch},
                     #{resRate},
                     #{resContractAmount},
                     #{resPaymentMethods},
                     #{resLastTranDate},
                     #{commStartDate},
                     #{commEndDate},
                     #{createdTime},
                     #{lastModifiedTime}
                 )
    </insert>
</mapper>