<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team2.pjt12.matchumoney.domain.saving.mapper.SavingAccountMapper">

    <delete id="deleteByUserIdAndFinId">
        DELETE
        FROM mydata_saving_accounts
        WHERE user_id = #{userId}
          AND fin_id = #{finId}
    </delete>
    <delete id="deleteDepositByUserIdAndFinId">
        DELETE
        FROM mydata_user_account
        WHERE user_id = #{userId}
          AND fin_id = #{finId}
    </delete>

    <select id="getSavingAccountList" parameterType="long"
            resultType="team2.pjt12.matchumoney.domain.saving.dto.MySavingProductResponseDTO">
        SELECT account_id             AS id,
               res_account_name       AS title,
               res_account_start_date AS start_date,
               res_account_end_date   AS end_date,
               res_rate               AS rate,
               res_valid_period       AS period
        FROM mydata_saving_accounts
        WHERE user_id = #{userId}
    </select>

    <!--    하나의 계좌 조회-->
    <select id="getSavingAccount"
            resultType="team2.pjt12.matchumoney.domain.saving.dto.MySavingProductResponseDTO">
        SELECT account_id             AS id,
               res_account_name       AS title,
               res_account_start_date AS start_date,
               res_account_end_date   AS end_date,
               res_rate               AS rate,
               res_valid_period       AS period
        FROM mydata_saving_accounts
        WHERE account_id = #{id}
    </select>
    <select id="getRecommendSavingAccountList"
            resultType="team2.pjt12.matchumoney.domain.saving.dto.SavingListItemResponseDTO">
        SELECT sp.saving_product_id as id,
               sp.kor_co_nm         as company,
               sp.fin_prdt_nm       AS title,
               so.intr_rate         as base_rate,
               so.intr_rate2        as max_rate,
               so.save_trm          as period,
               sp.max_limit         as amount
        FROM saving_product sp
                 JOIN
             saving_option so ON sp.fin_prdt_cd = so.fin_prdt_cd AND sp.fin_id = so.fin_id
        WHERE so.save_trm = #{period}
          AND CAST(so.intr_rate AS DECIMAL(5, 4)) > #{rate}
        ORDER BY CAST(so.intr_rate AS DECIMAL(5, 4)) DESC
    </select>

    <insert id="insertSavingAccount" parameterType="team2.pjt12.matchumoney.domain.saving.domain.SavingAccountVO">
        INSERT INTO mydata_saving_accounts (res_account,
                                            user_id,
                                            fin_id,
                                            res_account_status,
                                            res_account_display,
                                            res_account_name,
                                            res_account_nickname,
                                            res_account_holder,
                                            res_final_round_no,
                                            res_account_start_date,
                                            res_account_end_date,
                                            res_account_balance,
                                            res_monthly_payment,
                                            res_valid_period,
                                            res_type,
                                            res_management_branch,
                                            res_rate,
                                            res_contract_amount,
                                            res_payment_methods,
                                            res_last_tran_date,
                                            comm_start_date,
                                            comm_end_date,
                                            created_time,
                                            last_modified_time)
        VALUES (#{resAccount},
                #{userId},
                #{finId},
                #{resAccountStatus},
                #{resAccountDisplay},
                #{resAccountName},
                #{resAccountNickName},
                #{resAccountHolder},
                #{resFinalRoundNo},
                #{resAccountStartDate},
                #{resAccountEndDate},
                #{resAccountBalance},
                #{resMonthlyPayment},
                #{resValidPeriod},
                #{resType},
                #{resManagementBranch},
                #{resRate},
                #{resContractAmount},
                #{resPaymentMethods},
                #{resLastTranDate},
                #{commStartDate},
                #{commEndDate},
                #{createdTime},
                #{lastModifiedTime})
    </insert>
    <insert id="insertDepositAccount" parameterType="team2.pjt12.matchumoney.domain.saving.domain.DepositAccountVO">
        INSERT INTO mydata_user_account (res_account,
                                         user_id,
                                         fin_id,
                                         res_account_balance,
                                         res_account_end_date,
                                         res_account_nickname,
                                         res_account_start_date,
                                         res_last_tran_date,
                                         res_account_deposit,
                                         res_account_name,
                                         res_account_display,
                                         res_loan_end_date,
                                         res_account_currency,
                                         res_account_lifetime,
                                         res_overdraft_acct_yn,
                                         res_loan_kind,
                                         res_loan_balance,
                                         res_loan_start_date,
                                         created_time,
                                         last_modified_time)
        VALUES (#{resAccount},
                #{userId},
                #{finId},
                #{resAccountBalance},
                #{resAccountEndDate},
                #{resAccountNickname},
                #{resAccountStartDate},
                #{resLastTranDate},
                #{resAccountDeposit},
                #{resAccountName},
                #{resAccountDisplay},
                #{resLoanEndDate},
                #{resAccountCurrency},
                #{resAccountLifetime},
                #{resOverdraftAcctYN},
                #{resLoanKind},
                #{resLoanBalance},
                #{resLoanStartDate},
                #{createdTime},
                #{lastModifiedTime});
    </insert>
</mapper>